/.idea/
.DS_Store
.gradle
/local.properties
/secrets.properties
app/google-services.json
/build
/captures
.externalNativeBuild
.cxx
/app/.idea/
app/local.properties
app/external/debug.keystore
gradle/wrapper/gradle-wrapper.properties
