/.idea/
.DS_Store
.gradle
/local.properties
/secrets.properties
app/google-services.json
/build
/captures
.externalNativeBuild
.cxx
/app/.idea/
app/local.properties
app/src/main/java/com/github/wanderwise_inc/app/viewmodel/LoginViewModel.kt
app/external/debug.keystore
gradle/wrapper/gradle-wrapper.properties
app/src/main/AndroidManifest.xml
